<p>
  <mat-toolbar color="primary">

    <mat-toolbar-row style="font-size:1.5rem; height: 80px;">
      <span>CRUD Funcionario</span>
      <span class="example-spacer"></span>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

<section>
  <main class="container">
      <router-outlet></router-outlet>
  </main>
</section>







<!--
<mat-card class="home mat-elevation-z3"  >
  <mat-card-title class="title">
      Bem Vindo!
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
      Sistema para exemplificar o cadastro de um Funcionario
  </mat-card-subtitle>
</mat-card>
-->
